*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    overflow-x: clip;
}

:root {
    --color-text-one: #f2f2f2;
    --color-text-two: #2b2b2b;
    --color-bg-one: #f2f2f2;
    --color-bg-two: #2b2b2b;
    --color-header: rgba(43, 43, 43, 0.6);
    --color-overlay: rgba(254, 80, 54, 0.4);
    --color-button: #FE5036;
    --color-button-hover: #ffa293;
}

@font-face {
    font-family: 'Roboto';
    src: url("/assets/fonts/roboto-variable-font.woff2") format('woff2');
    /* src: url('./assets/fonts/roboto-variable-font.woff2') format('woff2'); */
    font-weight: 200 600;
    font-style: normal;
}

@font-face {
    font-family: 'Instrument Serif Regular';
    src: url('/assets/fonts/instrument-regular.ttf') format('ttf');
    font-weight: 100 800;
    font-style: normal;
}



body {
    color: var(--color-text-one);
    background-color: var(--color-bg-two);
    margin: 0;

    font-family: "Roboto", serif;
    font-weight: 200;

    & h1,
    & h2,
    & h3,
    & h4 {
        font-family: 'Instrument Serif Regular', serif;
    }

    & dt {
        font-family: 'Instrument Serif Regular', serif;
    }

    & .active {
        font-weight: 800;
        padding-bottom: .25em;
        border-bottom: 2px solid var(--color-button);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
    background-color: var(--color-header);
    border-bottom: 1px solid var(--color-bg-one);

    position: sticky;
    top: 0;
    z-index: 10;

    & nav {
        & a {
            font-weight: 500;
        }

        & ul {
            gap: 2em;
        }
    }

    & ul {
        display: flex;
        padding: 0;
        margin: 0;
        gap: .5em;

        list-style-type: none;

        & a {
            text-decoration: none;
            color: var(--color-text-one);
        }

        & li a:hover {
            color: var(--color-button-hover);
        }

        & svg {
            width: 2em;
            aspect-ratio: 1/1;
            fill: var(--color-text-one);
        }
    }

    & .name-logo {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        gap: .4rem;

        & img {
            width: 1em;
            aspect-ratio: 1/1;
        }

        & span {
            font-size: .75em;
            user-select: none;
            font-weight: 500;
        }
    }
}

.section-intro {
    height: 100svh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0%, -10%);

    user-select: none;

    & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        margin: 0;

        position: absolute;
        top: 0;
        z-index: -1;
    }

    & h1 {
        text-align: center;
        text-transform: lowercase;
        font-size: clamp(2em, 25vw, 15em);
        width: fit-content;

        anchor-name: --portfolio;
    }

    & .student {
        position: absolute;
        position-anchor: --portfolio;

        top: anchor(top);
        left: anchor(left);

        transform: translateY(60px);

        font-size: 1.2rem;
        text-align: center;
    }

    & .name {
        position: absolute;
        position-anchor: --portfolio;

        bottom: anchor(bottom);
        right: anchor(right);

        transform: translate(-10px, -25px);

        font-size: 1.2rem;
        text-align: center;
    }

    @media (width < 940px) {

        .student,
        .name {
            position-anchor: unset;
            transform: none;
            position: relative;
            text-align: center;
        }
    }
}

.section-cards {
    margin-bottom: 4em;

    & h2 {
        text-align: center;
        font-size: clamp(2em, 15vw, 4em);
        margin: 0 0 1em 0;
    }

    & section ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
        list-style: none;
        padding: 0;
        margin: 0 5em;

        @media (width < 940px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (width < 765px) {
            grid-template-columns: repeat(1, 1fr);
            margin: 0 1em;
        }


        & .card {
            display: block;
            position: relative;

            aspect-ratio: 1/1;
            z-index: 1;

            overflow: hidden;
            text-decoration: none;

            & img {
                width: 100%;
                height: 100%;

                object-fit: cover;
                display: block;
            }
        }

        & .card-overlay {
            position: absolute;
            inset: 0;
            z-index: 10;
            color: var(--color-text-one);

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: .5em;

            background-color: rgba(254, 80, 54, 0);

            transition:
                background-color .5s ease,
                color .5s ease;

            & h3 {
                opacity: 0;
                transition: opacity .5s ease;
                font-size: clamp(1em, 2vw, 2em);
                text-align: center;
            }

            & p {
                opacity: 0;
            }
        }

        & .card:hover {
            & .card-overlay {
                background-color: rgba(254, 80, 54, 0.85);
            }

            & h3 {
                opacity: 1;
            }

            & p {
                opacity: 1;
            }
        }
    }
}


/* ------------------ */
/* MARK: Lay-out work 
/* ------------------ */
main {
    font-size: 1.1em;
    padding: 2em 1em 1em 1em;

    &>h1 {
        text-align: center;
        font-size: clamp(2em, 10vw, 5em);
    }

    &>h2 {
        text-align: center;
        font-size: clamp(1em, 3vw, 2em);
    }

    & .information-container {
        margin-top: 3em;

        display: grid;
        grid-template-areas:
            "article    info"
            "learned    x"
            "skills     x"
            "link       link";
        grid-template-columns: 70% 30%;
        row-gap: 2em;

        & article {
            grid-area: article;

            & p {
                margin-bottom: 1.5em;
            }
        }

        & .information {
            grid-area: info;
            text-align: end;

            & h3 {
                margin-bottom: .5em;
                font-size: clamp(1.5em, 3vw, 2em);
            }

            & dt {
                font-size: clamp(1.1em, 2vw, 1.25em);
                font-weight: 800;
                margin-bottom: .25em;
            }

            & dt:not(:first-child) {
                margin-top: 1em;
            }
        }

        & .learned {
            grid-area: learned;

            & ul {
                list-style: none;
                padding: 0;
            }

            & ul li::before {
                content: "- ";
            }
        }

        & .skills {
            grid-area: skills;
        }

        & h4 {
            font-size: clamp(1.1em, 2vw, 1.25em);
            margin-bottom: .5em;
        }

        & .link-website {
            grid-area: link;
            width: fit-content;

            display: inline-block;
            justify-self: center;

            padding: 0.75rem 1.5rem;
            background-color: var(--color-button);
            text-decoration: none;
            border-radius: 20px;
            color: var(--color-text-one);
            margin: 1em .5em 2em .5em;

            transition:
                background-color .3s ease,
                color .3s ease;

            &:hover {
                background-color: var(--color-button-hover);
                color: var(--color-text-two);
            }
        }
    }

    & .examples-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;

        & img {
            width: 100%;
        }

        & video {
            width: 100%;
        }

        & .card-large {
            grid-column: span 2;
        }

        & .card-small {
            grid-column: span 1;
        }

        & .card-extralarge {
            grid-column: span 4;
        }
    }

    & .about-me {
        margin: 3em;

        & h1 {
            text-align: center;
            font-size: clamp(2em, 10vw, 5em);


            & span {
                color: var(--color-button);
            }
        }

        &>article {
            margin: 3em 8em;
            text-align: center;

            & p {
                margin-bottom: 1em;
            }
        }
    }
}